<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class="content" style="padding:10px 20px 10px 20px;">
        <h1>Контакты</h1>
        {% for set in settings %}
        <div>
            <p>Address: {{ set.address }}</p>
            <p>Phone: {{ set.phone }}<br />Email: {{ set.email }}</p>
        </div>
        
        {% endfor %}
    </div>
    {% include "footer.html" %}
</body>
</html>