<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class="content" style="padding:10px 20px 10px 20px;">
        <h1 class="mb-4">Контакты</h1>
        <div>
            <p>Адрес: {{ address }}</p>
            <p>Телефон: {{ phone }}<br />Email: {{ set.email }}</p>
        </div>
        <a>{{ set.map|safe }}</a>
    </div>
    {% include "footer.html" %}
</body>
</html>