<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FAQ – Часто задаваемые вопросы</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
    {% include "header.html" %}
        <div class="container py-5">
            <h2 class="mb-4 text-center">❓ Часто задаваемые вопросы</h2>
            <div class="accordion" id="faqAccordion">
                {% for faq in faqs %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ forloop.counter }}"
                                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                aria-controls="collapse{{ forloop.counter }}">
                            {{ faq.question }}
                        </button>
                    </h2>
                    <div id="collapse{{ forloop.counter }}"
                        class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                        aria-labelledby="heading{{ forloop.counter }}"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            {{ faq.answer|safe }}
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center">Пока нет ни одного вопроса.</p>
                {% endfor %}
            </div>
        </div>
    {% include "footer.html" %}

</body>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>
