<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }} 📖</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
    {% include "header.html" %}
    <a href="{% url 'books' %}" class="btn btn-secondary mt-3 ms-3">⬅ Назад в библиотеку</a>
    <div class="container py-5">
        <div class="card mx-auto shadow-sm" style="max-width: 400px;">
            {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title text-center">{{ book.title }}</h2>
                <h6 class="card-subtitle mb-3 text-muted text-center">{{ book.author }}</h6>
                <p class="card-text mt-2 text-center">{{ book.description|safe }}</p>
                <div class="d-grid gap-2">
                    <a href="{% url 'download-book' book.pk %}" class="btn btn-success">📥 Скачать книгу</a>
                    <a href="{{ book.file.url }}" class="btn btn-primary">📖 Прочить книгу</a>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>
