{% load static %}
<h1 >Актуальные Тесты</h1>
<div style="padding: 20px; display: flex;justify-content: space-between;">
    <div class="card" style="width: 18rem; display: flex; flex-wrap: wrap; background-color: rgb(228, 228, 228);">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
            <h5 class="card-title"><a href="#" style="text-decoration: none;">Тест на знания англииского</a></h5>
            <p class="card-text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
        </div>
    </div>
</div>